.idea/
.env
__pycache__/
*/__pycache__
*.pyc
venv/
.venv/
Lib/
Scripts/
*.sqlite3
*.sql
*.ps1
*.pkl
*.coverage
htmlcov/
media/
.vscode/
pytest.ini
coverage.xml
static/*
!**/static/**/dashboard*
node_modules/
coverage/