django>=5.1.9,<5.2
social-auth-app-django
whitenoise
pymysql
requests
python-dotenv
pillow
djangorestframework
markdown
django-filter
django-rest-knox
rest-social-auth
drf-spectacular
drf-spectacular-sidecar
requests-oauthlib
cryptography
